@charset "UTF-8";
/*VARS*/
.red {
  color: #F44436; }

body {
  color: #404142;
  font-size: 16px; }

.link {
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  transition: 0.3s all;
  color: #1782E9;
  text-decoration: none;
  border: none; }

/*marks*/
.ul {
  padding: 0;
  margin: 0; }
  .ul li {
    list-style: none; }

/*labels*/
.label {
  border-radius: 4px;
  line-height: 0;
  padding: 1px 5px;
  text-transform: uppercase;
  font-size: 11px;
  margin-right: 4px; }
  .label span {
    line-height: 0; }
  .label.label--new {
    background: #00a246;
    color: #ffffff; }
  .label.label--soon {
    background: #ffc31a;
    color: #404142;
    font-weight: bold; }
  .label.label--discount {
    background: #F44436;
    color: #fff; }

.price.price--discount {
  color: #F44436; }

.rating-star {
  background: url("../img/graystars.svg") 0 0 no-repeat;
  width: 80px;
  height: 16px;
  position: relative; }
  .rating-star .stars {
    background: url("../img/yellowstars.svg") 0 0 no-repeat;
    width: 0;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0; }
    .rating-star .stars.star-1 {
      width: 20%; }
    .rating-star .stars.star-2 {
      width: 40%; }
    .rating-star .stars.star-3 {
      width: 60%; }
    .rating-star .stars.star-4 {
      width: 80%; }
    .rating-star .stars.star-5 {
      width: 100%; }

/*!
 * jQuery Accordion 0.0.1
 * (c) 2014 Victor Fernandez <victor@vctrfrnndz.com>
 * MIT Licensed.
 */
/* Requirements */
[data-accordion] [data-content] {
  overflow: hidden;
  max-height: 0;
  background: transparent; }

/* Basic Theme */
[data-accordion] {
  line-height: 1;
  margin-bottom: 10px; }

[data-control] {
  padding: 10px 24px;
  cursor: pointer; }

[data-content] article {
  padding: 24px 24px 4px;
  font-size: 16px;
  line-height: 26px; }
  [data-content] article .linkmore {
    display: flex;
    justify-content: flex-end; }

[data-content] [data-accordion] {
  border: 0;
  padding: 0; }

[data-accordion] [data-control] {
  position: relative;
  padding-right: 40px;
  background: #F4F5F6;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  border-radius: 3px;
  color: #404142; }
  [data-accordion] [data-control]:focus {
    outline: none; }

[data-accordion].open [data-control] {
  font-weight: bold; }

[data-accordion] > [data-control]:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 12px;
  font-size: 25px;
  font-weight: 200;
  color: #444;
  height: 15px;
  width: 24px;
  background-size: 50%; }

[data-accordion].open > [data-control]:after {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg); }

body {
  font-family: 'PT Sans', sans-serif;
  /*temp*/
  background: url("../img/temp.png") center top no-repeat;
  padding-bottom: 500px;
  /**/ }

a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s all; }
  a:hover {
    color: #1782E9;
    transition: 0.3s all; }

/*╨е╨░╨╛╤В╨╕╤З╨╜╨░╤П ╤А╨░╨╖╨╝╨╡╤В╨║╨░ ╨┐╨╛ ╨┤╨╕╨╖╨░╨╣╨╜╤Г*/
#banners {
  margin-bottom: 61px; }

.main-page-collections {
  margin-top: 140px; }

.module-mp-cat-actions {
  margin-top: 173px; }

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1660px;
  grid-gap: 0 20px;
  margin: 0 auto; }

.in {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  max-width: 1660px;
  grid-gap: 0 20px;
  margin: 0 auto; }

.container > * {
  grid-column: 1 /span 12; }

.ico-search {
  width: 32px;
  height: 32px;
  background: url("../img/icon-search-normal.svg") 0 0 no-repeat; }

.ico-user {
  position: relative; }
  .ico-user:after {
    content: "";
    display: block;
    position: absolute;
    right: -40px;
    top: 50%;
    margin-top: -23px;
    width: 32px;
    height: 32px;
    background: url("../img/icon-user-normal.svg") 0 0 no-repeat; }
  .ico-user:hover:after {
    background: url("../img/icon-user-focus.svg") 0 0 no-repeat; }

.linkmore {
  display: flex;
  align-items: center;
  padding-right: 5px; }
  .linkmore a {
    position: relative;
    padding-right: 20px;
    font-weight: bold;
    transition: 0.3s all; }
    .linkmore a:after {
      content: "";
      display: block;
      position: absolute;
      width: 14px;
      height: 16px;
      right: 0;
      top: 50%;
      margin-top: -8px;
      transition: 0.3s all;
      background: url("../img/icon-arrow-go-normal.svg") 0 0 no-repeat; }
    .linkmore a:hover:after {
      transition: 0.3s all;
      background: url("../img/icon-arrow-go-focus.svg") 0 0 no-repeat; }

.ico-arrow {
  transition: 0.3s all;
  background: url("../img/icon-arrow-go-normal.svg") 0 0 no-repeat;
  display: inline-block;
  width: 14px;
  height: 16px; }

.header {
  padding-top: 25px;
  padding-bottom: 28px; }
  .header > .in {
    align-items: center; }

.burger {
  grid-column: 1 / span 1;
  margin-left: 12px; }

.burger--btn {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 19px;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 36px;
  position: relative; }
  .burger--btn:before {
    content: "";
    display: block;
    position: absolute;
    background: url("../img/icon-hamburger-normal.svg") 0 0 no-repeat;
    width: 32px;
    height: 32px;
    left: -4px;
    top: 50%;
    margin-top: -15px; }
  .burger--btn:hover:before {
    background: url("../img/icon-hamburger-focus.svg") 0 0 no-repeat; }

.logo-wrapper {
  grid-column: 6 / span 2;
  text-align: center; }

.logo {
  width: 190px;
  height: 48px;
  background: url("../img/logo.png") 0 0 no-repeat;
  display: inline-block; }

.sign-block {
  grid-column: 11 / span 1;
  text-align: right;
  border-right: 1px solid #CDCECF;
  padding: 10px 70px 10px 0; }

.header--cart_block {
  grid-column: 12 / span 1;
  text-align: right;
  margin-right: 12px;
  cursor: pointer; }
  .header--cart_block:hover .cart_block--price:after {
    background: url("../img/icon-cart-focus.svg") 0 0 no-repeat; }

.greetings {
  font-size: 14px;
  letter-spacing: 0;
  line-height: 14px;
  margin-bottom: 2px; }

.sign-line {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 14px; }

.cart_block--price {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 20px;
  position: relative;
  padding-right: 36px; }
  .cart_block--price:after {
    content: "";
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    background: url("../img/icon-cart-normal.svg") 0 0 no-repeat;
    right: -3px;
    top: 50%;
    margin-top: -15px; }

/*VARS*/
.red {
  color: #F44436; }

body {
  color: #404142;
  font-size: 16px; }

.link {
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  transition: 0.3s all;
  color: #1782E9;
  text-decoration: none;
  border: none; }

/*marks*/
.ul {
  padding: 0;
  margin: 0; }
  .ul li {
    list-style: none; }

/*labels*/
.label {
  border-radius: 4px;
  line-height: 0;
  padding: 1px 5px;
  text-transform: uppercase;
  font-size: 11px;
  margin-right: 4px; }
  .label span {
    line-height: 0; }
  .label.label--new {
    background: #00a246;
    color: #ffffff; }
  .label.label--soon {
    background: #ffc31a;
    color: #404142;
    font-weight: bold; }
  .label.label--discount {
    background: #F44436;
    color: #fff; }

.price.price--discount {
  color: #F44436; }

.rating-star {
  background: url("../img/graystars.svg") 0 0 no-repeat;
  width: 80px;
  height: 16px;
  position: relative; }
  .rating-star .stars {
    background: url("../img/yellowstars.svg") 0 0 no-repeat;
    width: 0;
    height: 16px;
    position: absolute;
    left: 0;
    top: 0; }
    .rating-star .stars.star-1 {
      width: 20%; }
    .rating-star .stars.star-2 {
      width: 40%; }
    .rating-star .stars.star-3 {
      width: 60%; }
    .rating-star .stars.star-4 {
      width: 80%; }
    .rating-star .stars.star-5 {
      width: 100%; }

/*!
 * jQuery Accordion 0.0.1
 * (c) 2014 Victor Fernandez <victor@vctrfrnndz.com>
 * MIT Licensed.
 */
/* Requirements */
[data-accordion] [data-content] {
  overflow: hidden;
  max-height: 0;
  background: transparent; }

/* Basic Theme */
[data-accordion] {
  line-height: 1;
  margin-bottom: 10px; }

[data-control] {
  padding: 10px 24px;
  cursor: pointer; }

[data-content] article {
  padding: 24px 24px 4px;
  font-size: 16px;
  line-height: 26px; }
  [data-content] article .linkmore {
    display: flex;
    justify-content: flex-end; }

[data-content] [data-accordion] {
  border: 0;
  padding: 0; }

[data-accordion] [data-control] {
  position: relative;
  padding-right: 40px;
  background: #F4F5F6;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 18px;
  line-height: 30px;
  border-radius: 3px;
  color: #404142; }
  [data-accordion] [data-control]:focus {
    outline: none; }

[data-accordion].open [data-control] {
  font-weight: bold; }

[data-accordion] > [data-control]:after {
  content: "";
  position: absolute;
  right: 10px;
  top: 12px;
  font-size: 25px;
  font-weight: 200;
  color: #444;
  height: 15px;
  width: 24px;
  background-size: 50%; }

[data-accordion].open > [data-control]:after {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg); }

#category_menu {
  border-top: 1px solid #CDCECF;
  border-bottom: 1px solid #CDCECF; }

.category_menu {
  grid-column: 1 /span 12; }
  .category_menu .ul {
    display: flex;
    justify-content: space-between; }

.ul-level-1 {
  margin: 0 8px 0 16px; }
  .ul-level-1 a {
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    padding: 16px 0 13px;
    display: inline-block; }
  .ul-level-1 li {
    border-bottom: 3px solid transparent; }
    .ul-level-1 li.active {
      border-bottom: 3px solid #1782E9;
      color: #1782E9; }
      .ul-level-1 li.active:after {
        transform: rotate(180deg); }

li.search a {
  margin-top: 7px;
  padding: 0; }

li.hasChild {
  position: relative;
  padding-right: 24px; }
  li.hasChild:after {
    content: "";
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    background: url("../img/icon-dropdown-bottom-normal.svg") 0 0 no-repeat;
    right: -2px;
    top: 50%;
    margin-top: -11px; }

#banners {
  margin-top: 20px;
  grid-row-gap: 20px; }
  #banners img {
    max-width: 100%; }

.banner-2-3 {
  grid-column: 1 / span 8;
  grid-row: 1 / 3; }

.banner-1-3-top {
  grid-column: 9 / span 4;
  grid-row: 1 / 2; }

.banner-1-3-bottom {
  grid-column: 9 / span 4;
  grid-row: 2 / 3; }

.module_carousel {
  grid-column: 2 / span 10;
  position: relative;
  margin-bottom: 25px; }
  .module_carousel .swiper-container {
    margin-top: 25px; }

.swiper-container-wrapper {
  position: relative; }
  .swiper-container-wrapper .swiper-button-next,
  .swiper-container-wrapper .swiper-button-prev {
    width: 48px;
    height: 48px;
    border-radius: 50%; }
    .swiper-container-wrapper .swiper-button-next:after,
    .swiper-container-wrapper .swiper-button-prev:after {
      display: none; }
    .swiper-container-wrapper .swiper-button-next:hover, .swiper-container-wrapper .swiper-button-next:focus,
    .swiper-container-wrapper .swiper-button-prev:hover,
    .swiper-container-wrapper .swiper-button-prev:focus {
      outline: none; }
  .swiper-container-wrapper .swiper-button-prev {
    left: -88px;
    right: auto;
    background: url("../img/carousel-arrow-left.png") 0 0 no-repeat; }
  .swiper-container-wrapper .swiper-button-next {
    right: -88px;
    left: auto;
    background: url("../img/carousel-arrow-right.png") 0 0 no-repeat; }

.module--heading {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 37px;
  margin-bottom: 16px; }

.tabs_w {
  display: flex;
  justify-content: space-between; }

.tabs ul {
  display: flex; }
  .tabs ul li {
    font-size: 16px;
    letter-spacing: 0;
    line-height: 20px;
    padding: 10px 3px;
    border-bottom: 3px solid transparent;
    margin-right: 27px;
    cursor: pointer;
    transition: 0.3s all; }
    .tabs ul li:last-child {
      margin-right: 0; }
    .tabs ul li:hover {
      color: #1782E9;
      transition: 0.3s all; }
    .tabs ul li.active {
      color: #1782E9;
      font-weight: bold;
      border-bottom-color: #1782E9; }

.module_carousel--item .pic {
  min-height: 260px;
  display: flex;
  align-items: center;
  margin-bottom: 20px; }
  .module_carousel--item .pic img {
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden; }
.module_carousel--item .price {
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 9px; }
  .module_carousel--item .price span {
    font-size: 16px;
    font-weight: normal; }
.module_carousel--item .labels {
  margin-bottom: 9px;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 18px;
  color: #8A8B8C; }
.module_carousel--item .cat {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 0.4px;
  line-height: 14px;
  color: #8A8B8C;
  margin-bottom: 4px; }
.module_carousel--item .name {
  margin-bottom: 10px; }
.module_carousel--item .attrs {
  display: flex; }
  .module_carousel--item .attrs .rating {
    margin-right: 10px; }
  .module_carousel--item .attrs .comments {
    margin-right: 9px;
    position: relative;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 14px;
    color: #1782E9;
    padding-left: 20px;
    padding-top: 2px; }
    .module_carousel--item .attrs .comments:before {
      content: "";
      display: block;
      position: absolute;
      background: url("../img/icon-chat-blue.svg") 0 0 no-repeat;
      width: 16px;
      height: 16px;
      left: 0;
      top: 1px; }
  .module_carousel--item .attrs .pics {
    position: relative;
    font-size: 11px;
    letter-spacing: 0;
    line-height: 14px;
    color: #1782E9;
    padding-left: 20px;
    padding-top: 2px; }
    .module_carousel--item .attrs .pics:before {
      content: "";
      display: block;
      position: absolute;
      background: url("../img/icon-image-blue.svg") 0 0 no-repeat;
      width: 16px;
      height: 16px;
      left: 0;
      top: 1px; }

.heading--h2 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 52px;
  text-align: center;
  margin-bottom: 8px; }
  .heading--h2 span {
    display: block; }
  .heading--h2 a {
    color: #1782E9; }

.desc--h2 {
  font-size: 24px;
  letter-spacing: 0;
  line-height: 31px;
  text-align: center; }

.circles {
  grid-column: 2 / span 10;
  margin-top: 55px;
  justify-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px 20px; }

.circle--item {
  width: 260px;
  height: 260px;
  border-radius: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  transition: 0.3s all; }
  .circle--item .desc {
    background: rgba(255, 255, 255, 0.85);
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    margin-bottom: 30px;
    margin-left: 50px;
    width: 210px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 25px 0 0 25px;
    padding-left: 16px;
    padding-right: 30px;
    text-align: left; }

.ci1 {
  background: url("../img/circ1.jpg") 0 0 no-repeat; }

.ci2 {
  background: url("../img/circ2.jpg") 0 0 no-repeat; }

.ci3 {
  background: url("../img/circ3.jpg") 0 0 no-repeat; }

.ci4 {
  background: url("../img/circ4.jpg") 0 0 no-repeat; }

.ci5 {
  background: url("../img/circ5.jpg") 0 0 no-repeat; }

.ci6 {
  background: url("../img/circ6.jpg") 0 0 no-repeat; }

.ci7 {
  background: url("../img/circ7.jpg") 0 0 no-repeat; }

.ci8 {
  background: url("../img/circ8.jpg") 0 0 no-repeat; }

.circle--item.view-more {
  background: #F4F5F6;
  align-items: center; }
  .circle--item.view-more .desc {
    background: transparent;
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    display: block;
    height: auto; }
  .circle--item.view-more:hover .ico-arrow {
    transition: 0.3s all;
    background: url("../img/icon-arrow-go-focus.svg") 0 0 no-repeat; }

.mp-wpcs {
  margin-top: 160px; }
  .mp-wpcs .wpcs--items {
    grid-column: 2 / span 10;
    justify-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px; }

.wpcs--item {
  width: 20%;
  text-align: center; }
  .wpcs--item .pic {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 137px;
    margin-bottom: 25px; }
  .wpcs--item .heading {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 6px; }
    .wpcs--item .heading span {
      display: block; }
  .wpcs--item .desc {
    line-height: 23px; }

.yellow_promo {
  background: #ffcf2c;
  margin-top: 141px; }
  .yellow_promo .pic {
    grid-column: 2 / span 5; }
  .yellow_promo .text {
    grid-column: 7 / span 5;
    padding-top: 99px; }
    .yellow_promo .text .heading {
      font-size: 24px;
      font-weight: bold;
      line-height: 30px;
      margin-bottom: 32px; }
      .yellow_promo .text .heading span {
        display: block; }
    .yellow_promo .text p {
      font-size: 18px;
      line-height: 32px;
      margin-bottom: 25px; }
  .yellow_promo p.btn-group {
    margin-top: 32px; }
    .yellow_promo p.btn-group a {
      margin-right: 30px; }

.trustpilot-module {
  margin-top: 158px; }
  .trustpilot-module .in .trustpilot-module--frame {
    grid-column: 2 / span 10;
    margin-top: 74px; }

.useful-module {
  margin-top: 168px; }
  .useful-module .useful-module--items {
    grid-column: 2 / span 10;
    margin-top: 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px; }
    .useful-module .useful-module--items .item {
      transition: 0.3s all; }
      .useful-module .useful-module--items .item .pic {
        margin-bottom: 24px;
        border-radius: 3px;
        overflow: hidden; }
      .useful-module .useful-module--items .item .title {
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
        margin-bottom: 5px; }
      .useful-module .useful-module--items .item .desc {
        color: #404142;
        font-size: 16px;
        line-height: 24px; }
      .useful-module .useful-module--items .item:hover .desc {
        transition: 0.3s all;
        color: #404142; }

.faq_block {
  margin-top: 137px; }

.accordion {
  grid-column: 4 / span 6;
  margin-top: 40px; }

.main-page_gallery {
  margin-top: 146px; }

/*# sourceMappingURL=main.css.map */
