@import "parts/_utils";

body{
  font-family: 'PT Sans', sans-serif;
  /*temp*/
  background: url('../img/temp.png') center top no-repeat;
  padding-bottom: 500px;
  /**/
}
a{
  text-decoration: none;
  color: inherit;
  transition: 0.3s all;
  &:hover{
    color: $blue;
    transition: 0.3s all;
  }
}

/*Хаотичная разметка по дизайну*/
#banners{
  margin-bottom: 61px;
}
.main-page-collections{
  margin-top: 140px;
}
.module-mp-cat-actions{
  margin-top: 173px;
}


@import "parts/_grid";
@import "parts/_icos";
@import "parts/_header";
@import "parts/_menu";
@import "parts/_banner";
@import "parts/_mod_carousel";
@import "parts/_uniqs";


